.sm_infoWindowContainer{
	position:absolute;
	width:250px;
	background-color:#D6E0EB;
	z-index:100;
	border:1px solid #A2B1C5;
	min-height:20px;
	_height:20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 0 #ECF2FB inset, 0 -1px 0 0 #ECF2FB inset, -1px 0 0 0 #ECF2FB inset, 1px 0 0 0 #ECF2FB inset;
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 1px 0 0 #ECF2FB inset, 0 -1px 0 0 #ECF2FB inset, -1px 0 0 0 #ECF2FB inset, 1px 0 0 0 #ECF2FB inset;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 1px 0 0 #ECF2FB inset, 0 -1px 0 0 #ECF2FB inset, -1px 0 0 0 #ECF2FB inset, 1px 0 0 0 #ECF2FB inset;
}
.sm_infoWindowContainer .sm_infoWindowCaption{
	font-size:12px;
	font-weight:600;
	padding:6px 6px 0px 6px;
	color:#1A4AAE;
}
.sm_infoWindowContainer .sm_infoWindowContent{
	font-size:12px;
	margin:6px;
	background-color:#FFFFFF;
	border: 1px solid #B7CBEB;
	overflow:auto;
}
.sm_infoWindowContainer .sm_infoWindowClose{
	width:16px;
	height:16px;
	position:absolute;
	right:10px;
	top:5px;
	background-image:url(../images/infowindow/close.png);
	background-repeat:no-repeat;
}