<?xml version="1.0" encoding="UTF-8"?>
<config>
	<mapConfig>
		<id>mapDiv</id>
		<gisEngine>01</gisEngine>
		<mapOption>
			<zoom>3</zoom>
		</mapOption>
		<urlArray>
				<initType>02</initType>
				<url>http://192.168.204.19:6080/arcgis/rest/services/xiamen/MapServer</url>
		</urlArray>
	</mapConfig>
	<measureConfig>
		<url>http://192.168.204.19:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer</url>
		<lineType>01</lineType>
		<width>3</width>
		<color>rgba(255,00,51,0.5)</color>
		<autoClear>false</autoClear>
		<startStyle>solid</startStyle>
		<startColor>rgba(255,102,51,0.5)</startColor>
		<startWidth>3</startWidth>
	</measureConfig>
	<graphicConfig>
		<lineType>solid</lineType>
		<color>#FF0000</color>
		<width>2</width>
	</graphicConfig>
	<locationConfig>
		<map></map>
		<geomeryServiceUrl>http://192.168.204.19:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer</geomeryServiceUrl>
		<dispatch>
			<pic>/ecssp/jslib/evecomgis/common/image/invert_selection.png</pic>
			<width>16</width>
			<height>16</height>
		</dispatch>
		<gradualLocation>
			<sec>1000</sec>
			<pic>/ecssp/jslib/evecomgis/common/image/invert_selection.png</pic>
			<width>16</width>
			<height>16</height>
			<color>#FF0000</color>
			<lineStyle>solid</lineStyle>
			<linewidth>2</linewidth>
		</gradualLocation>
		<addPoint>
			<size>64</size>
			<pic>/ecssp/jslib/evecomgis/common/image/BluePin1LargeB.png</pic>
		</addPoint>
		<addGraphic>
			<pic>/ecssp/jslib/evecomgis/common/image/BluePin1LargeB.png</pic>
			<width>32</width>
			<height>32</height>
		</addGraphic>
		<getPointPic>>
			<image>/ecssp/jslib/evecomgis/common/image/BluePin1LargeB.jpg</image>
			<width>16</width>
			<height>16</height>
		</getPointPic>
	</locationConfig>
	<queryMapConfig>
		<map></map>
		<queryTaskUrl>
			<level>
				<url>http://192.168.204.19:6080/arcgis/rest/services/xmcust/MapServer/0</url>
				<fields>OBJECTID,A,B,C,D,E,F,G</fields>
				<orderByFields>A asc</orderByFields>
			</level>
		</queryTaskUrl>
		<geomeryServiceUrl>http://192.168.204.19:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer</geomeryServiceUrl>
		<radius>1</radius>
		<unit>esri.tasks.GeometryService.UNIT_KILOMETER</unit>
		<titleCallBack>setTitle</titleCallBack>
		<contentCallBack>setContent</contentCallBack>
		<addGraphic>
			<pic>/ecssp/jslib/evecomgis/common/image/BluePin1LargeB.png</pic>
			<width>32</width>
			<height>32</height>
		</addGraphic>
	</queryMapConfig>
</config>
